* {
  box-sizing: border-box;
}

/*variables: hobby cell, common margin for subsectiosn*/
:root{
  --hobby-w: 120px;
  --hobby-h: 75px;
  --sec-margin-top: 75px;
  --new-grid-width600: 50px 1fr;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/*header and heading style edits*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 5px;
  font-size: 35px;
  color: #7e6dccde;
}
h1 .re-hue{
  color: #30294eed;
  border-radius: 15px;
  border: 4px solid rgba(0, 255, 225, 0.361);
  background-color: rgba(215, 220, 250, 0.38);
}

h2{
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('../images/02-hero-bg.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

/*styles for top-page navigation elements*/
nav ul > * {
  display: inline-flex;
  list-style-type: none;
  font-size: 18px;
  font-style:oblique;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
  border: 3px rgb(176, 134, 86) solid;
  padding: 5px;
  background-color: rgba(33, 62, 192, 0.5);
}

/*banner image and portfolio pic*/
#hero-banner{
  margin-bottom: 20px;
  margin: 5px;
  height: 270px;
  width: auto;
  background-image: url('/assets/images/background_5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#hero-banner h1{
  margin-top: 30px;
  font-size: 25px;
  color: rgba(19, 17, 17, 0.928);
}

 /*placeholder for portfolio image*/
.circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  top: 20px;
  margin-bottom: 10px;
  border: solid peru 5px;
  border-radius: 50%;
  width: 200px;
  height: 200px; 
  background-image: url('/assets/images/profile_img.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.4);
}

/*MAIN GRID: defining direct sections in html body*/
.page-wrapper{
  margin: 20px;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr 0.2fr 0.01fr;
  grid-template-columns: 1fr 3fr;
  grid-gap: 2em;
  grid-template-areas: 
      'about-title about'
      'coding-projects-title coding-projects'
      'cv-title cv'
      'contact-title contact'
      'footer footer'
      ;
}

.paper-section{
  background-color: aqua;
  border: 5px solid gray;
}

/*linking subsections to predefined cell, styles for sections and their headings*/
#about{
  grid-area: about;
  text-align: justify;
}
#about-title{
  grid-area: about-title;
}

#coding-projects{
  grid-area: coding-projects;
}
#coding-projects-title{
  grid-area: coding-projects-title;
}

#cv{
  grid-area: cv;
}
#cv-title{
  grid-area: cv-title;
}

#contact{
  grid-area: contact;
}
#contact-title{
  grid-area: contact-title;
}

/*footer and 'return' animation*/
#footer {
  grid-area: footer;
  max-height: 10px;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.return-to-top {
  margin-top: 30px;
  padding: 10px;
  background-color: bisque;
  animation: blink_ 1s linear infinite;
}
.return-to-top.vert-line {
  border-right: 6px solid peru;
}

@keyframes blink_ {
  10% {
    opacity: 0;
  }
}

  /*common text position for subsection headings*/
#about-title,
#coding-projects-title,
#cv-title,
#contact-title
{
  margin-bottom: 5px;
  position: sticky;
  text-align: center;
  background-color: bisque;
  text-decoration:underline;
}

  /*vertical line for section titles*/
.vert-line {
  border-left: 6px solid peru;
  left: 0px;
  margin-left: 3px;
  top: 0;
  }

/*hobby grid: image insertions and styles*/
.hobby-images{
  display: inline-block;
	vertical-align: top;
	text-align: center;
  width: var(--hobby-w);
  border: 2px solid peru;
}

/*general image dim; affects hobby subsection*/
img {
  width: 100px;
  height: 100px;
}

/*circular placeholder for contact icons*/
.icons {
  display: inline-block;
	vertical-align: top;
	text-align: center;
  margin-right: 0px;
}

/*new image shape/dim, for icons only*/
.icons img {
  background-color: whitesmoke;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

/*capton size for all figure labels*/
.caption{
  display: block;
  font-size: 12px;
}

/*subgrid for work/coding-projects section*/
#coding-projects-work{
  margin: 10px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-gap: 5px;
  grid-template-areas: 
      'portfolio portfolio portfolio'
      'portfolio portfolio portfolio'
      'refactor refactor bio'
      ;
}

#portfolio{
  grid-area: portfolio;
  background-image: url('../images/02-portfolio-1.jpg');
  background-size: cover;
  pointer-events:visible;
}
#refactor{
  grid-area: refactor;
  background-image: url('../images/02-portfolio-4.jpg');
  background-size: cover;
}
#bio{
  grid-area: bio;
  background-image: url('../images/02-portfolio-3.jpg');
  background-size: contain;
}

/*on subgrid, default image opacity is 50% but 
changes to 1 oh hovering cursor*/
#portfolio,
#refactor,
#bio {
  border: 3px solid peru;
  cursor: pointer;
  opacity: 50%;
}

#portfolio:hover,
#refactor:hover,
#bio:hover {
  opacity: 1;
}

/*text box for work/coding-projects section*/
.code-box{
  position: relative;
  top: 50%; right: 3px;
  border: 3px solid peru;
  height: 50px;
  width: 175px;
  background-color: rgb(205, 158, 111);
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}
#portfolio .code-box{
  top:75%;
  width: 200px;
}

/* responsive element for screen width <=600px */
@media screen and (max-width:600px) {
  .page-wrapper{
    grid-template-rows: var(--new-grid-width600) var(--new-grid-width600) var(--new-grid-width600) var(--new-grid-width600);
    grid-template-columns: 1fr;
    grid-template-areas: 
      'about-title'
      'about'
      'coding-projects-title'
      'coding-projects'
      'cv-title'
      'cv'
      'contact-title'
      'contact'
      'footer'
      ;
  }

  /*increasing vertical spacing between sections for <=600px width*/
  #about-title,
  #coding-projects-title,
  #cv-title,
  #contact-title
  {
    margin-top: 15px;
  }
  #footer{
    margin-top: -250px;
  }

}



