* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav a {
  display: flex;

}

.hero-banner{
  margin: 1200px;
  padding: 50px;
  background-image: url('/images/background_4.jpg');
  background-color: aquamarine;
  border: black 5px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
      'About Me'
      'Coding Projects'
      'CV'
      'Contact'
      ;
}

section h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

p {
  margin: 0;
}


