* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul > * {
  display: inline-flex;
  list-style-type: none;
  font-size: 30px;
  margin: 10px;
  border: 2px rgb(62, 53, 43) solid;
  padding: 10px;
  background-color: rgb(100, 73, 253);
}

#hero-banner{
  margin-bottom: 20px;
  padding: 600px;
  background-image: url('/images/background_4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(99, 123, 230,0.5);
  border: black 5px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
      'About Me'
      'Coding Projects'
      'CV'
      'Contact Me'
      ;
}

section h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}

p {
  margin: 0;
}

.circle {
  position: absolute;
  top: 150px;
  left: 50px;
  border: solid black 5px;
  border-radius: 50%;
  width: 400px;
  height: 400px; 
  /* width and height can be anything, as long as they're equal */
}




